In [66]:
# Importing Necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [67]:
# Reading data
data=pd.read_csv('NewZealand_Airfares.csv')
data.head()

,Unnamed: 0,Travel_Date,Departure_Airport,Departure_Time,Arrival_Airport,Arrival_Time,Duration,Direct,Transit,Baggage,Airline,Airfare(NZ),Day,Month,Quarter,Average_Fare
0,0,9/19/19,Auckland,1:35 PM,ChristChurch,3:00 PM,1h 25m,Direct,No Transit,Not Defined,Jetstar,111,Thursday,September,3,1
1,1,9/19/19,Auckland,3:55 PM,ChristChurch,5:20 PM,1h 25m,Direct,No Transit,Not Defined,Jetstar,111,Thursday,September,3,1
2,2,9/19/19,Auckland,11:40 AM,ChristChurch,1:05 PM,1h 25m,Direct,No Transit,Not Defined,Jetstar,132,Thursday,September,3,1
3,3,9/19/19,Auckland,8:00 PM,ChristChurch,9:25 PM,1h 25m,Direct,No Transit,Not Defined,Jetstar,132,Thursday,September,3,1
4,4,9/19/19,Auckland,9:00 AM,ChristChurch,10:25 AM,1h 25m,Direct,No Transit,Not Defined,Air New Zealand,133,Thursday,September,3,1

In [68]:
# Dropping 1st column
data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [69]:
# Null Value check
data.isnull().sum()

Travel_Date          0
Departure_Airport    0
Departure_Time       0
Arrival_Airport      0
Arrival_Time         0
Duration             0
Direct               0
Transit              0
Baggage              0
Airline              0
Airfare(NZ)          0
Day                  0
Month                0
Quarter              0
Average_Fare         0
dtype: int64

In [70]:
# Data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Travel_Date        162804 non-null  object
 1   Departure_Airport  162804 non-null  object
 2   Departure_Time     162804 non-null  object
 3   Arrival_Airport    162804 non-null  object
 4   Arrival_Time       162804 non-null  object
 5   Duration           162804 non-null  object
 6   Direct             162804 non-null  object
 7   Transit            162804 non-null  object
 8   Baggage            162804 non-null  object
 9   Airline            162804 non-null  object
 10  Airfare(NZ)        162804 non-null  int64
 11  Day                162804 non-null  object
 12  Month              162804 non-null  object
 13  Quarter            162804 non-null  int64
 14  Average_Fare       162804 non-null  int64
dtypes: int64(3), object(12)
memory usage: 18.6+ MB

In [71]:
# Changing date to date type
data['Travel_Date']=pd.to_datetime(data['Travel_Date'])

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Travel_Date        162804 non-null  datetime64[ns]
 1   Departure_Airport  162804 non-null  object
 2   Departure_Time     162804 non-null  object
 3   Arrival_Airport    162804 non-null  object
 4   Arrival_Time       162804 non-null  object
 5   Duration           162804 non-null  object
 6   Direct             162804 non-null  object
 7   Transit            162804 non-null  object
 8   Baggage            162804 non-null  object
 9   Airline            162804 non-null  object
 10  Airfare(NZ)        162804 non-null  int64
 11  Day                162804 non-null  object
 12  Month              162804 non-null  object
 13  Quarter            162804 non-null  int64
 14  Average_Fare       162804 non-null  int64
dtypes: datetime64[ns](1), int64(3), object(11)
memory usage: 18.6+ MB

In [73]:
data['Departure_Time'] = pd.to_datetime(data['Departure_Time']).dt.time
data['Arrival_Time'] = pd.to_datetime(data['Arrival_Time']).dt.time

In [74]:
data=data.reindex(columns=['Travel_Date','Departure_Airport','Departure_Time','Arrival_Airport','Arrival_Time','Duration','Direct','Transit','Baggage','Airline','Day','Month','Quarter','Average_Fare','Airfare(NZ)'])

In [75]:
data.drop(['Average_Fare'],axis=1,inplace=True)

In [76]:
data.head()

,Travel_Date,Departure_Airport,Departure_Time,Arrival_Airport,Arrival_Time,Duration,Direct,Transit,Baggage,Airline,Day,Month,Quarter,Airfare(NZ)
0,2019-09-19,Auckland,13:35:00,ChristChurch,15:00:00,1h 25m,Direct,No Transit,Not Defined,Jetstar,Thursday,September,3,111
1,2019-09-19,Auckland,15:55:00,ChristChurch,17:20:00,1h 25m,Direct,No Transit,Not Defined,Jetstar,Thursday,September,3,111
2,2019-09-19,Auckland,11:40:00,ChristChurch,13:05:00,1h 25m,Direct,No Transit,Not Defined,Jetstar,Thursday,September,3,132
3,2019-09-19,Auckland,20:00:00,ChristChurch,21:25:00,1h 25m,Direct,No Transit,Not Defined,Jetstar,Thursday,September,3,132
4,2019-09-19,Auckland,09:00:00,ChristChurch,10:25:00,1h 25m,Direct,No Transit,Not Defined,Air New Zealand,Thursday,September,3,133

In [77]:
# Direct
data['Direct'].value_counts()

1 stop     123060
2 stops     20029
Direct      19705
3 stops        10
Name: Direct, dtype: int64

In [78]:
def map_direct(direct_str):
    if direct_str == '1 stop':
        return 1
    elif direct_str == '2 stops':
        return 2
    elif direct_str == '3 stops':
        return 3
    elif direct_str == 'Direct':
        return 0
    else:
        raise ValueError('Invalid value for Direct column: {}'.format(direct_str))

In [79]:
data['Direct'] = data['Direct'].apply(map_direct)

In [80]:
# Month
month_map = {'January': 1, 
             'February': 2, 
             'March': 3, 
             'April': 4, 
             'May': 5, 
             'June': 6, 
             'July': 7, 
             'August': 8, 
             'September': 9, 
             'October': 10, 
             'November': 11, 
             'December': 12
            }
data['Month'] = data['Month'].map(month_map)

In [81]:
# Day
day_map = {'Monday': 1, 'Tuesday': 2, 'Wednesday': 3, 'Thursday': 4, 'Friday': 5, 'Saturday': 6, 'Sunday': 7}

data['Day'] = data['Day'].map(day_map)

In [82]:
# Baggage
data['Baggage'].value_counts()

Not Defined                 160493
Checked bag NOT included      2311
Name: Baggage, dtype: int64

In [83]:
def has_baggage(baggage_str):
    if baggage_str == 'Not Defined' or baggage_str == 'Checked bag NOT included':
        return 0
    else:
        return 1

data['Baggage'] = data['Baggage'].apply(has_baggage)

In [84]:
# Transit
def has_transit(transit_str):
    if transit_str == 'No Transit':
        return 0
    else:
        return 1

data['Transit'] = data['Transit'].apply(has_transit)

In [85]:
# Airline
data['Airline'].value_counts()

Air New Zealand    157407
Jetstar              4667
Sounds Air            730
Name: Airline, dtype: int64

In [86]:
data.head()

,Travel_Date,Departure_Airport,Departure_Time,Arrival_Airport,Arrival_Time,Duration,Direct,Transit,Baggage,Airline,Day,Month,Quarter,Airfare(NZ)
0,2019-09-19,Auckland,13:35:00,ChristChurch,15:00:00,1h 25m,0,0,0,Jetstar,4,9,3,111
1,2019-09-19,Auckland,15:55:00,ChristChurch,17:20:00,1h 25m,0,0,0,Jetstar,4,9,3,111
2,2019-09-19,Auckland,11:40:00,ChristChurch,13:05:00,1h 25m,0,0,0,Jetstar,4,9,3,132
3,2019-09-19,Auckland,20:00:00,ChristChurch,21:25:00,1h 25m,0,0,0,Jetstar,4,9,3,132
4,2019-09-19,Auckland,09:00:00,ChristChurch,10:25:00,1h 25m,0,0,0,Air New Zealand,4,9,3,133

In [87]:
# Apply one-hot encoding to the 'Airline' column
data = pd.get_dummies(data, columns=['Airline'], prefix='', prefix_sep='')

In [88]:
# Departure Airport
# Apply one-hot encoding to the 'Dep Airport' column
data = pd.get_dummies(data, columns=['Departure_Airport'], prefix='Dep', prefix_sep='_')

In [89]:
# Arrival Airport
data = pd.get_dummies(data, columns=['Arrival_Airport'], prefix='Arr', prefix_sep='_')

In [90]:
# Dropping Travel Date
data.drop(['Travel_Date','Departure_Time','Arrival_Time','Duration'],axis=1, inplace=True)

In [91]:
data.head()

,Direct,Transit,Baggage,Day,Month,Quarter,Airfare(NZ),Air New Zealand,Jetstar,Sounds Air,...,Dep_Wellington,Arr_Auckland,Arr_ChristChurch,Arr_Dunedin,Arr_Hawke's,Arr_Nelson,Arr_New Plymouth Airport,Arr_Palmerston,Arr_Queenstown,Arr_Wellington
0,0,0,0,4,9,3,111,0,1,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,4,9,3,111,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,4,9,3,132,0,1,0,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,4,9,3,132,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,4,9,3,133,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [92]:
# Renaming Column
data = data.rename(columns={"Arr_Hawke's": 'Arr_Hawkes'})

In [93]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 23 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Direct                    162804 non-null  int64
 1   Transit                   162804 non-null  int64
 2   Baggage                   162804 non-null  int64
 3   Day                       162804 non-null  int64
 4   Month                     162804 non-null  int64
 5   Quarter                   162804 non-null  int64
 6   Airfare(NZ)               162804 non-null  int64
 7   Air New Zealand           162804 non-null  uint8
 8   Jetstar                   162804 non-null  uint8
 9   Sounds Air                162804 non-null  uint8
 10  Dep_Auckland              162804 non-null  uint8
 11  Dep_ChristChurch          162804 non-null  uint8
 12  Dep_Queenstown            162804 non-null  uint8
 13  Dep_Wellington            162804 non-null  uint8
 14  Arr_Auckland              162804 non-null  uint8
 15  Arr_ChristChurch          162804 non-null  uint8
 16  Arr_Dunedin               162804 non-null  uint8
 17  Arr_Hawkes                162804 non-null  uint8
 18  Arr_Nelson                162804 non-null  uint8
 19  Arr_New Plymouth Airport  162804 non-null  uint8
 20  Arr_Palmerston            162804 non-null  uint8
 21  Arr_Queenstown            162804 non-null  uint8
 22  Arr_Wellington            162804 non-null  uint8
dtypes: int64(7), uint8(16)
memory usage: 11.2 MB

In [94]:
# Independent features
X=data.iloc[:,np.r_[0:6,7:23]]

In [95]:
X.head()

,Direct,Transit,Baggage,Day,Month,Quarter,Air New Zealand,Jetstar,Sounds Air,Dep_Auckland,...,Dep_Wellington,Arr_Auckland,Arr_ChristChurch,Arr_Dunedin,Arr_Hawkes,Arr_Nelson,Arr_New Plymouth Airport,Arr_Palmerston,Arr_Queenstown,Arr_Wellington
0,0,0,0,4,9,3,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,4,9,3,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
2,0,0,0,4,9,3,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
3,0,0,0,4,9,3,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,0,0,4,9,3,1,0,0,1,...,0,0,1,0,0,0,0,0,0,0

In [96]:
y=data['Airfare(NZ)']

In [97]:
y.head()

0    111
1    111
2    132
3    132
4    133
Name: Airfare(NZ), dtype: int64

In [98]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=42)
X_train.shape,X_test.shape

((113962, 22), (48842, 22))

In [99]:
### Linear Regressor

In [100]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [101]:
# Fit the model using the training data
regressor.fit(X_train, y_train)

LinearRegression()

In [102]:
# Predict the target variable for the test data
y_pred = regressor.predict(X_test)

In [103]:
# Calculate the mean squared error of the predictions
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)

In [104]:
# Print the mean squared error
print('Mean Squared Error:', mse)

Mean Squared Error: 16923.08101554862

In [105]:
# Decision Tree Regressor
from sklearn.tree import DecisionTreeRegressor
# Create a decision tree regression model object
dreg = DecisionTreeRegressor(random_state=42)
# Fit the model to the training data
dreg.fit(X_train, y_train)
# Predict the target variable for the test data
y_pred_d = dreg.predict(X_test)

In [106]:
# Calculate the mean squared error of the predictions
from sklearn.metrics import mean_squared_error
mse_d = mean_squared_error(y_test, y_pred_d)

In [107]:
# Print the mean squared error
print('Mean Squared Error:', mse_d)

Mean Squared Error: 11771.788000412147

In [108]:
# Hyper parameter Tuning
from sklearn.model_selection import GridSearchCV

# Define the hyperparameter grid to search over
param_grid = {
    'max_depth': [5, 10, 15,20,25],
    'min_samples_split': [5, 10, 15,20,25],
    'min_samples_leaf': [5,10,15,20,25],
}

# Create a grid search object and fit it to the data
grid_search = GridSearchCV(dreg, param_grid, cv=5)
grid_search.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(random_state=42),
             param_grid={'max_depth': [5, 10, 15, 20, 25],
                         'min_samples_leaf': [5, 10, 15, 20, 25],
                         'min_samples_split': [5, 10, 15, 20, 25]})

In [109]:
# Best tree
best_tree = grid_search.best_estimator_

In [110]:
best_tree

DecisionTreeRegressor(max_depth=20, min_samples_leaf=5, min_samples_split=5,
                      random_state=42)

In [111]:
# Prediction
y_pred_best = best_tree.predict(X_test)
mse = mean_squared_error(y_test, y_pred_best)

In [112]:
print(f"Best parameters: {grid_search.best_params_}")
print(f"MSE for best parameters: {mse:.2f}")

Best parameters: {'max_depth': 20, 'min_samples_leaf': 5, 'min_samples_split': 5}
MSE for best parameters: 11784.38

In [113]:
### GBT Regressor
from sklearn.ensemble import GradientBoostingRegressor
# Create a GB regression model object
gbt = GradientBoostingRegressor(random_state=42)
# Fit the model to the training data
gbt.fit(X_train, y_train)
# Predict the target variable for the test data
y_pred_g = gbt.predict(X_test)

In [114]:
print(y_pred_g)

[286.54552822 485.29711605 470.79586533 ... 417.08425373 380.57822767
 390.95815501]

In [115]:
# Calculate the mean squared error of the predictions
from sklearn.metrics import mean_squared_error
mse_gb = mean_squared_error(y_test, y_pred_g)

In [116]:
# Print the mean squared error
print('Mean Squared Error:', mse_gb)

Mean Squared Error: 14207.224982275606

In [117]:
from sklearn.model_selection import GridSearchCV

# Define the hyperparameter grid to search over
param_grid = {
    'n_estimators': [50, 100],
    'learning_rate': [0.01, 0.1, 0.5],
    'max_depth': [5, 10],
}

# Perform grid search with cross-validation
grid_search = GridSearchCV(estimator=gbt, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Print the best parameters and best score
print('Best parameters:', grid_search.best_params_)
print('Best score:', -grid_search.best_score_)

# Predict the target variable on the test data using the best model
y_pred = grid_search.best_estimator_.predict(X_test)

# Calculate the mean squared error of the best model
mse = mean_squared_error(y_test, y_pred)

# Print the mean squared error
print('Mean squared error:', mse)

Best parameters: {'learning_rate': 0.1, 'max_depth': 10, 'n_estimators': 100}
Best score: 12133.908153523904
Mean squared error: 11751.363337470448

In [118]:
# Best tree
best_gb = grid_search.best_estimator_

In [119]:
best_gb

GradientBoostingRegressor(max_depth=10, random_state=42)

In [120]:
# Saving model to disk
import pickle
pickle.dump(best_gb,open('model1.pk2','wb'))

In [121]:
model=pickle.load(open('model1.pk2','rb'))

In [122]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162804 entries, 0 to 162803
Data columns (total 22 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Direct                    162804 non-null  int64
 1   Transit                   162804 non-null  int64
 2   Baggage                   162804 non-null  int64
 3   Day                       162804 non-null  int64
 4   Month                     162804 non-null  int64
 5   Quarter                   162804 non-null  int64
 6   Air New Zealand           162804 non-null  uint8
 7   Jetstar                   162804 non-null  uint8
 8   Sounds Air                162804 non-null  uint8
 9   Dep_Auckland              162804 non-null  uint8
 10  Dep_ChristChurch          162804 non-null  uint8
 11  Dep_Queenstown            162804 non-null  uint8
 12  Dep_Wellington            162804 non-null  uint8
 13  Arr_Auckland              162804 non-null  uint8
 14  Arr_ChristChurch          162804 non-null  uint8
 15  Arr_Dunedin               162804 non-null  uint8
 16  Arr_Hawkes                162804 non-null  uint8
 17  Arr_Nelson                162804 non-null  uint8
 18  Arr_New Plymouth Airport  162804 non-null  uint8
 19  Arr_Palmerston            162804 non-null  uint8
 20  Arr_Queenstown            162804 non-null  uint8
 21  Arr_Wellington            162804 non-null  uint8
dtypes: int64(6), uint8(16)
memory usage: 9.9 MB